
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="padding:0px;margin:0px;">
    <div class="row" style="padding:0px;margin:0px;">
        <div class="col-md-2" style="margin:0px;padding:0px;"></div>
        <div class="col-md-10" style="margin:0px;padding:0px;" >
        <img src="~/images/spider.png" class="img-responsive" />
        </div>
    </div>
</div>


